body{
    background-color: beige;
}
.header{
    background-color: white;
    display:flex;
    

}
.landing{
    padding: 30px 50px;
    text-decoration: none;
    margin: right 10px;
    text-align: center;
}

.name{
    padding: 300px 200px;
    font-size: 50px;
    color: black;
}
.img{
    align-items: right;

}